@use 'abstracts/fonts' as fon;
@use 'base/base' as base;
@use 'components/buttons' as btn;
@use 'components/cards' as cards;
@use 'components/mouse-scroll' as ms;

body {
    background: #1A1D20;
}
a{
    text-decoration: none;
    color: white;
    :hover{
        color: #FFD700;
    }
}
.wrapper {
    margin: 1rem 5rem;
}

.nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
        a img {
            width: 250px;
        }
    }

    &-list {
        display: flex;
        align-items: center;
        list-style: none;
        color: #FFF;

        li {
            margin-right: 40px;

            .skew-button {
                top: 40px;
            }
        }
    }
}

main {
    margin-top: 4rem;
}


.hero {

    &-tag,
    &-headline {
        margin-bottom: 4rem;
        -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        opacity: 0;
        transform: translateY(100px);
        text-align: center;
        color: white;
    }

    &-tag {
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    &-mouse {
        display: grid;
        place-items: center;
        -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
        transform: translateY(100px);
        opacity: 0;
    }

    .animated{
        max-width: 350px !important;
    }
}

.about {
    display: flex;

    .card {
        margin-right: 20px;
    }
}

.row {
    display: flex;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    align-items: center;
    gap: 2rem;

    h1{
        font-size: 3rem !important;
        margin-top: 6rem;
        font-weight: 700 !important;
    }



    

}

// float animation

.float {
    animation: float 6s ease-in-out infinite;
    max-width: 350px;
    // backgound glow

    background: transparent !important;
}



@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }

}

.big{
    color: white !important;
}


.cardy{
    background: linear-gradient(90deg, rgba(255, 227, 91, 0.052) 0%, rgba(0, 255, 255, 0.052) 100%);
    border-radius: 10px;
    padding: 1rem;
    height: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;

    .row{
        gap: .5rem;
    }
    &:hover {
        background: linear-gradient(90deg, rgba(255, 228, 91, 0.103) 0%, rgba(0, 255, 255, 0.052) 100%);
        cursor: pointer;
    }

}

.icon{
    width: 50px;
    height: 50px;
}

.nav-list{
    .active{
        color: #FFD700;
    }

    a{
        color: white;
        text-decoration: none;
    }
}
.services {
    margin-top: 12rem;
    height: auto !important;
    

    &-title {
        font-size: 1.8rem;
        text-align: center;
        font-weight: 400;
        color: #FFF;
    }

    .service {

        &-title {
            font-size: 1.4rem;
            color: #FFF;
            font-weight: 500;
            margin-bottom: 0rem;
        }

        &-text {
            color: #697887;
        }


        &-cards {
            display: grid;
            // 2 in a row
            // and 1 in a row on mobile
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;
            margin-top: 2rem;
            // center last row
            justify-content: center;


            .card {
                img{
                    max-height: 100px !important;
                }
                &-title {
                    font-size: 1.2rem;
                    margin-top: 1rem;
                }

                &-desc {
                    font-size: 1rem;
                }
            }

            .card:has(img) {
                margin: 1rem;
                flex-wrap: wrap;
                background: linear-gradient(90deg, rgba(255, 227, 91, 0.052) 0%, rgba(0, 255, 255, 0.052) 100%);
                border-radius: 10px;
                padding: 2rem;
                height: 100%;

                &:hover {
                    background: linear-gradient(90deg, rgba(255, 228, 91, 0.103) 0%, rgba(0, 255, 255, 0.052) 100%);
                    cursor: pointer;
                }
            }
        }
    }
}
.animated {
    max-width: 450;
}
.service-cards:has(.cardy){
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
}
footer {
    opacity: 0;
    background: linear-gradient(90deg, rgba(255, 227, 91, 1) 0%, rgba(0, 255, 255, 1) 100%);
    padding: 2em 1em;
    color: #1A1A1A;
    margin-top: 11em !important;
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    flex-basis: 1;

    &-company {
        display: flex;
        justify-content: center;

        .angle-line {
            margin-top: 1.2em;
        }

        .all {
            margin: .3em 0 0 .5em;
            font-size: 2rem;
        }
    }
    .title {
        margin-right: 1em;
        font-size: 1.5rem;
        font-weight: 400;
    }

    &-contact {
        display: flex;
    }

    .twitter {
        width: 2em;
        margin-left: .5em;
    }

    .social {
        margin-top: 2em;
    }

    a {
        color: black;
        text-decoration: none;
    }


    .maps{
        color: red;

        :hover{
            transition: all 0.3s ease-in-out ;
            transform: translate(0, -3px);
            transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
    }

    .socials{
        a:hover{
            .icon{
                transition: all 0.3s ease-in-out ;
                transform: translate(0, -3px);
                transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }
        }
    }


}

.feedback-form{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    background: linear-gradient(90deg, rgba(255, 227, 91, 0.052) 0%, rgba(0, 255, 255, 0.052) 100%);
    border: 1px solid #00000059;
    border-radius: 10px;

    .form-group{
        margin-bottom: 1rem;
    }

    input{
        border: none;
        border-bottom: 1px solid #000;
        background: transparent;
        outline: none;
        color: #000;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 0.5rem 0;
        transition: all 0.3s ease-in-out;

        &:focus{
            border-bottom: 1px solid #FFD700;
        }
    }

    textarea{
        border: none;
        border-bottom: 1px solid #000;
        background: transparent;
        outline: none;
        color: #000;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 0.5rem 0;
        transition: all 0.3s ease-in-out;

        &:focus{
            border-bottom: 1px solid #FFD700;
        }
    }

    button{
        background: #FFD700;
        border: none;
        outline: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        color: #383838;
        font-size: 1.2rem;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover{
            background: #FFD700;
            transform: translate(0, -3px);
            transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
    }
}

.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;

    .links{
        li{
            list-style: none;
            margin-bottom: 1rem;

            a{
                color: #000;
                text-decoration: none;
                font-size: 1.2rem;
                font-weight: 500;
                transition: all 0.3s ease-in-out;

                &:hover{
                    color: #FFD700;
                    transform: translate(0, -3px);
                    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
                }
            }
        }
    }


}


.companies{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;

    .company{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border-radius: 10px;
        padding: 1rem;
        max-width: 360px;
        
        // white radial gradient

        background: radial-gradient(40% 40% at 50% 50%, rgba(99, 98, 98, 0.274) 0%, rgba(255, 255, 255, 0) 100%), #ffffff00;

        .company-logo{
            width: 100px;
            height: 100px;
            border-radius: 10%;
        }

        a{
            color: #000;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 500;
            transition: all 0.3s ease-in-out;

            &:hover{
                color: #FFD700;
                transform: translate(0, -3px);
                transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }
        }
        h2{
            font-size: 1.2rem;
            font-weight: 500;
            color: white;
        }

        quote{
            font-size: 1rem;
            font-weight: 200;
            color: white;
        }
    }
}

@media screen and (max-width: 768px) {

    .nav{
        
    }

    .footer-links{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
    }


    .companies{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }


    .company{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border-radius: 10px;
        padding: 1rem;
        max-width: 360px;
        
        // white radial gradient

        background: radial-gradient(40% 40% at 50% 50%, rgba(99, 98, 98, 0.274) 0%, rgba(255, 255, 255, 0) 100%), #ffffff00;

        .company-logo{
            width: 100px;
            height: 100px;
            border-radius: 10%;
        }

        a{
            color: #000;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 500;
            transition: all 0.3s ease-in-out;

            &:hover{
                color: #FFD700;
                transform: translate(0, -3px);
                transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }
        }
        h2{
            font-size: 1.2rem;
            font-weight: 500;
            color: white;
        }

        quote{
            font-size: 1rem;
            font-weight: 200;
            color: white;
        }
    }


    // hero section

    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        max-width: 360px;
        
        img{
            display: none;
        }

        .hero-headline{
            font-size: 1.5rem;
            font-weight: 500;
            color: white;
        }


    }


    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 0rem;
        max-width: 360px;
        gap: 30rem;
        margin-bottom: 30rem;
        .about-headline{
            font-size: 1.5rem;
            font-weight: 500;
            color: white;
        }

        .about-text{
            font-size: 1rem;
            font-weight: 200;
            color: white;
        }
    }


    .service-cards{
        display: grid;
        grid-template-columns: 1fr !important;
        padding: 0;
        margin: 0 !important;
        gap: 1rem !important;

        .card{
            margin: 0 !important;
            padding: 0.5rem !important;
        }
    }

    .service{
        .row{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .service-cards{
        display: grid !important;
        grid-template-columns: 1fr !important;
        gap: 1rem;
        .cardy{
            margin: 0;
        }
    }



    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw !important;
        gap: 1rem;
        padding: 1rem;
        gap: 8rem;
        
        .footer-headline{
            font-size: 1.5rem;
            font-weight: 500;
            color: white;
        }

        .footer-text{
            font-size: 1rem;
            font-weight: 200;
            color: white;
        }
    }
}
